@model EMS_Project.ViewModels.AddLeaveRequestViewModel

@{
    ViewData["Title"] = "Add Leave Request";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}





<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .small-input {
            height: 35px;
            padding-top: 1rem;
            padding-bottom: 1rem;
            /* Adjust other properties as needed */
        }
    </style>
</head>

<body>

    <!-- Left Side Nav -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">

            <li class="nav-item">
                <a class="nav-link" asp-action="Index">
                    <i class="icon-grid menu-icon"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="ManageLeaveRequests">
                    <i class="icon-paper menu-icon"></i>
                    <span class="menu-title">Leave Requests</span>
                </a>
            </li>
        </ul>
    </nav>


    <!-- Main body -->
    <div class="main-panel">
        <div class="content-wrapper">

            @* // Quotes *@
            <div class="row">
                <div class="col-md-12 grid-margin">
                    <div class="row">
                        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                            <h3 class="font-weight-bold">
                                Add Leave Request
                            </h3>

                        </div>
                        @*  <div class="col-12 col-xl-4">
                            <div class="justify-content-end d-flex">
                                <div class="flex-md-grow-1 flex-xl-grow-0">
                                    <button class="btn btn-sm btn-light bg-white" type="button" asp-action="Create">
                                        <h5> Create New Department <i class="bi bi-plus"></i> </h5>
                                    </button>
                                </div>
                            </div>
                        </div> *@
                    </div>
                </div>
            </div>
            @* // Form *@
            <div class="row">

                <form asp-action="AddLeaveRequest" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="StartDate" class=" control-label"></label>
                            <input asp-for="StartDate" class="form-control small-input" type="date" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="EndDate" class=" control-label"></label>
                            <input asp-for="EndDate" class="form-control small-input" type="date" />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="LeaveTypeId" class="control-label">Leave Type</label>
                            <select asp-for="LeaveTypeId" asp-items="ViewBag.LeaveTypes" class="form-control small-input">
                                <option value="">Select Department</option>
                            </select>
                            <span asp-validation-for="LeaveTypeId" class="text-danger"></span>
                        </div>

                        <div class="w-100"></div> <!-- Forces a new line -->

                        <div class="form-group">
                            <input type="submit" value="Submit Leave Request" class="btn btn-primary" />
                        </div>
                    </div>
                </form>

                <div class="w-100"></div> <!-- Forces a new line -->

                <div>
                    <a asp-action="ManageLeaveRequests">Back to List</a>
                </div>

            </div>


        </div>
        <!-- Footer -->
        <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2025. from Employee Mangment System. All rights reserved.</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
            </div>
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Made by <a href="">AmrShaban</a></span>
            </div>
        </footer>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }

    }
</body>

</html>

