@{
    ViewBag.Title = "Access Denied";
}

<div style="align-content:center;">
    <br />
<h2>Access Denied</h2>
<p>You do not have permission to access this page.</p>
<a href="@Url.Action("Login", "LoginPage")">Go to Login Page</a>
</div>
